%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_unused_vars,
    {parse_transform, lager_transform}
]}.

{deps, [
    {cowboy, "1.1.2"},
    {hackney, "1.7.1"},
    {jsx, "2.8.2"},
    {lager, "3.2.4"},
    {riak_dt, "2.1.1"}
]}.

{profiles, [
    {shell, [
        {deps, [
            {sync, "0.1.3"},
            {recon, "2.3.2"}
        ]},
        {relx, [
            {dev_mode, true},
            {include_erts, false}
        ]}
    ]},
    {test, [
        {erl_opts, [
            {d, 'BIGTEST'}
        ]},
        {deps, [
            {meck, "0.8.4"},
            {proper, {git, "https://github.com/manopapad/proper.git", {ref, "722d43f"}}}
        ]}
    ]}
]}.

{relx, [
    {release, {counterdb, "0.1.0"}, [
        counterdb
    ]},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true},
    {sys_config, "etc/sys.config"}
]}.

{shell, [
    {apps, [
        counterdb
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{eunit_opts, [verbose]}.
